![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

# <b> Práctica Clase 6 </b> <br>

## <b> Ejercicio 1</b>

*   Ítems a resolver:

    1)  Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas, quitar los registros que contengan valores faltantes e implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash".<br> 

*   Consideraciones:<br>

    1)  Se puede utilizar la función provista. <br>

    ```Python
        def hash_function(key):
            return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))
        print(hash_function('pato'))
        print(hash_function('tapo'))
        >>> 1807
        >>> 1799
    ```


![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### <b> Resolución </b>

1)  Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas, quitar los registros que contengan valores faltantes e implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash". <br>

    ![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

In [2]:
import pandas as pd

df = pd.read_csv('Emisiones_CO2.csv',sep='|',decimal=',', encoding='latin-1')
df.head(10)

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
0,ABW,Aruba,América Latina y Caribe,1960,NaN,NaN
1,ABW,Aruba,América Latina y Caribe,1961,NaN,NaN
2,ABW,Aruba,América Latina y Caribe,1962,NaN,NaN
3,ABW,Aruba,América Latina y Caribe,1963,NaN,NaN
4,ABW,Aruba,América Latina y Caribe,1964,NaN,NaN
5,ABW,Aruba,América Latina y Caribe,1965,NaN,NaN
6,ABW,Aruba,América Latina y Caribe,1966,NaN,NaN
7,ABW,Aruba,América Latina y Caribe,1967,NaN,NaN
8,ABW,Aruba,América Latina y Caribe,1968,NaN,NaN
9,ABW,Aruba,América Latina y Caribe,1969,NaN,NaN

In [3]:
df = df.dropna()
df.head(10)

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
26,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319
27,ABW,Aruba,América Latina y Caribe,1987,"447,374",7.234964
28,ABW,Aruba,América Latina y Caribe,1988,"612,389",10.026508
29,ABW,Aruba,América Latina y Caribe,1989,"649,059",10.634733
30,ABW,Aruba,América Latina y Caribe,1990,"1.840,83",29.620165
31,ABW,Aruba,América Latina y Caribe,1991,"1.928,84",29.847608
32,ABW,Aruba,América Latina y Caribe,1992,"1.723,49",25.258152
33,ABW,Aruba,América Latina y Caribe,1993,"1.771,16",24.430481
34,ABW,Aruba,América Latina y Caribe,1994,"1.763,83",22.996441
35,ABW,Aruba,América Latina y Caribe,1995,"1.782,16",22.186615

In [4]:
df.dropna(inplace = True)
df.head(10)

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
26,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319
27,ABW,Aruba,América Latina y Caribe,1987,"447,374",7.234964
28,ABW,Aruba,América Latina y Caribe,1988,"612,389",10.026508
29,ABW,Aruba,América Latina y Caribe,1989,"649,059",10.634733
30,ABW,Aruba,América Latina y Caribe,1990,"1.840,83",29.620165
31,ABW,Aruba,América Latina y Caribe,1991,"1.928,84",29.847608
32,ABW,Aruba,América Latina y Caribe,1992,"1.723,49",25.258152
33,ABW,Aruba,América Latina y Caribe,1993,"1.771,16",24.430481
34,ABW,Aruba,América Latina y Caribe,1994,"1.763,83",22.996441
35,ABW,Aruba,América Latina y Caribe,1995,"1.782,16",22.186615

In [5]:
def hash_function(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))

In [6]:
ClaveHash = [ hash_function(elmt) for elmt in df['Código de país']]

In [7]:
df.insert(loc = 0, column = 'Clave Hash', value = ClaveHash, allow_duplicates = True)
df.head(10)

,Clave Hash,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
26,910,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319
27,910,ABW,Aruba,América Latina y Caribe,1987,"447,374",7.234964
28,910,ABW,Aruba,América Latina y Caribe,1988,"612,389",10.026508
29,910,ABW,Aruba,América Latina y Caribe,1989,"649,059",10.634733
30,910,ABW,Aruba,América Latina y Caribe,1990,"1.840,83",29.620165
31,910,ABW,Aruba,América Latina y Caribe,1991,"1.928,84",29.847608
32,910,ABW,Aruba,América Latina y Caribe,1992,"1.723,49",25.258152
33,910,ABW,Aruba,América Latina y Caribe,1993,"1.771,16",24.430481
34,910,ABW,Aruba,América Latina y Caribe,1994,"1.763,83",22.996441
35,910,ABW,Aruba,América Latina y Caribe,1995,"1.782,16",22.186615

## <b> Ejercicio 2</b>

*   Ítems a resolver:

    1)  A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región".<br> 

    ```Python
        import pandas as pd
        df = pd.read_csv('Emisiones_CO2.csv',sep='|',decimal=',', encoding='latin-1')
    ```


![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### <b> Resolución </b>

1)  A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región".<br>

    ![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

In [8]:
df2 = (df.drop_duplicates(subset = 'Clave Hash')).loc[:, ['Clave Hash', 'Código de país', 'Nombre del país', 'Región']]

df2.head(10)

,Clave Hash,Código de país,Nombre del país,Región
26,910,ABW,Aruba,América Latina y Caribe
87,870,AND,Andorra,Europa y Asia Central
104,858,AFG,Afganistán,Sur de Asia
156,893,AGO,Angola,África subsahariana
208,856,ALB,Albania,Europa y Asia Central
260,886,ARE,Emiratos Árabes Unidos,Oriente Medio y Norte de África
312,894,ARG,Argentina,América Latina y Caribe
396,918,ARM,Armenia,Europa y Asia Central
468,900,ATG,Antigua y Barbuda,América Latina y Caribe
520,951,AUS,Australia,Asia Oriental y Asia-Pacífico